<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<add key="driverPath" value ="C:\\Users\\MissPolianna\\Documents\\Selenium Testing/>"
		<add key="browser" value="Chrome"/>
		<add key="url" value="http://mail.ru"/>
		<add key="username" value="revalove"/>
		<add key="password" value="pandisinc_90"/>
		<add key="runmode" value="1"/>
		<add key="logging" value="True"/>
	</appSettings>
</configuration>